<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Contatos</title>
    <meta charset="UTF-8">
    <script type="text/javascript">
      function validar_form_contato(){
       var primeironome = formcontato.firstname.value;
       var ultimonome = formcontato.lastname.value;
       var mensagem = formcontato.mensagem.value;

       if (primeironome == "") {
         alert("Campo nome é obrigatorio!");
          formcontato.firstname.focus();
          return false;
         }
         if (ultimonome == "") {
         alert("Campo sobrenome é obrigatorio!");
          formcontato.lastname.focus();
          return false;
         }
         if (mensagem == "") {
         alert("Campo mensagem é obrigatorio!");
          formcontato.mensagem.focus();
          return false;
         }
    }
    </script>
</head>
<body style="background-color:#EEE9E9">
  <ul>
    <li><a href="inicio">Inicio</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Cursos</a>
      <div class="dropdown-conteudo">
        <a href="curso1">Cozinha Árabe</a>
        <a href="curso2">Cozinha Francesa</a>
        <a href="curso3">Cozinha Italiana</a>
        <a href="curso4">Cozinha Mexicana</a>
      </div>
    </li>
    <li><a href="contatos">Contato</a></li>
   </ul>
<h2 class="faleconosco">Fale conosco</h2>
<div class="container">
  <form name="formcontato" action="#">
  <div class="row">
    <div class="col-25">
      <label for="fname">Primeiro Nome</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="firstname" placeholder="Seu nome">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Sobrenome</label>
    </div>
    <div class="col-75">
      <input type="text" id="lname" name="lastname" placeholder="Sobrenome">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="Assunto">Assunto</label>
    </div>
    <div class="col-75">
      <select id="Assunto" name="Assunto">
        <option value="Atendimento">Atendimento</option>
        <option value="Secretária">Secretária</option>
        <option value="Financeiro">Financeiro</option>
        <option value="Ouvidoria">Ouvidoria</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Mensagem</label>
    </div>
    <div class="col-75">
      <textarea id="mensagem" name="mensagem" placeholder="Digite aqui sua mensagem" style="height:200px"></textarea>
    </div>
  </div>
  <div class="row">
    <input type="submit" value="Enviar" onclick="return validar_form_contato()">
  </div>
  </form>
</div>

</body>
</html>
