<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Contatos</title>
    <meta charset="UTF-8">
    <script type="text/javascript">
      function validar_form_contato(){
       var primeironome = formcontato.firstname.value;
       var contact_email = formcontato.email.value;
       var mensagem = formcontato.mensagem.value;

       if (primeironome == "") {
         alert("Campo nome é obrigatorio!");
          formcontato.firstname.focus();
          return false;
         }
         if (contact_email == "") {
         alert("Campo E-mail é obrigatorio!");
          formcontato.email.focus();
          return false;
         }
         if (mensagem == "") {
         alert("Campo mensagem é obrigatorio!");
          formcontato.mensagem.focus();
          return false;
          }
          alert("Mensagem enviada com sucesso")
    }
    </script>
</head>
<body style="background-color:#EEE9E9">
  <ul>
    <li><a href="inicio">Home</a></li>
      <li class="dropdown">
      <a href="cursos" class="dropbtn">Cursos</a>
      <div class="dropdown-conteudo">
        <a href="curso1">Cozinha Árabe</a>
        <a href="curso2">Cozinha Francesa</a>
        <a href="curso3">Cozinha Italiana</a>
        <a href="curso4">Cozinha Mexicana</a>
      </div>
    </li>
    <li><a href="estatisticas">Estatisticas</a></li>
    <li><a href="contatos">Contato</a></li>
   </ul>

<table>
    <td>
        <tr><img src="{{url_for('static', filename='contato.jpg')}}" width=100% height=150 align="middle" /></tr>
        </td>
</table>

<h2 class="faleconosco">Fale conosco</h2>
<div class="container">
  <form name="formcontato" action="#">
  <div class="row">
    <div class="col-25">
      <label for="fname">Nome</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="firstname" placeholder="Seu nome">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="email">E-mail</label>
    </div>
    <div class="col-75">
      <input type="text" id="email" name="email" placeholder="E-mail">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="Assunto">Assunto</label>
    </div>
    <div class="col-75">
      <select id="Assunto" name="Assunto">
        <option value="Atendimento">Atendimento</option>
        <option value="Secretária">Secretária</option>
        <option value="Financeiro">Financeiro</option>
        <option value="Ouvidoria">Ouvidoria</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Mensagem</label>
    </div>
    <div class="col-75">
      <textarea id="mensagem" name="mensagem" placeholder="Digite aqui sua mensagem" style="height:200px"></textarea>
    </div>
  </div>
  <div class="row">
    <input type="submit" value="Enviar" onclick="return validar_form_contato()">
  </div>
  </form>
</div>



<div class="footer-address">
Escola de Gastronomia da Vila <br>
Avenida Rudge, 164 1º andar, Barra Funda
<br>São Paulo ,&nbsp;SP ,&nbsp;&nbsp;01206-001
<br>Brasil
<br>Telefone: <a href="tel:+55 11 2150-2500">+55 11 2150-2500</a>
</div>

</body>
</html>
