<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Escola de Gastronomia da Vila - Cozinha Italiana</title>
    <meta charset="UTF-8">
</head>
<body style="background-color:#EEE9E9">
  <ul>
    <li><a href="inicio">Home</a></li>
      <li class="dropdown">
      <a href="cursos" class="dropbtn">Cursos</a>
      <div class="dropdown-conteudo">
        <a href="curso1">Cozinha Árabe</a>
        <a href="curso2">Cozinha Francesa</a>
        <a href="curso3">Cozinha Italiana</a>
        <a href="curso4">Cozinha Mexicana</a>
      </div>
    </li>
    <li><a href="estatisticas">Estatisticas</a></li>
    <li><a href="contatos">Contato</a></li>
   </ul>
    <img src="{{url_for('static', filename='italiana.jpg')}}" width=100% height=150 align="middle" /><br>
    <h1>Cozinha Italiana</h1>

    <p>A culinária italiana é conhecida como uma das mais tradicionais do cenário gastronômico, mas é preciso ter muita técnica 
      para atingir o ponto perfeito e o equilíbrio de sabores em pratos típicos, como massas, risotos e bruschettas.
    
      <br>Aprenda a preparar essas e outras entradas, pratos principais e sobremesas clássicas da Itália, como focaccia, 
      sardella, minestroni, ossobuco, polenta, gnocchi , panna cotta, tiramisù e zabaglione, explorando a história e cultura alimentar de diferentes regiões italianas. Saiba também como harmonizar bebidas com essas receitas típicas.
      
      <br>Tudo isso com base nos princípios da higiene na manipulação de alimentos, buscando a padronização de pesos e medidas e melhor 
      aproveitamento dos ingredientes, entre outros aspectos relacionados.</p>
    
 


    <p><b>Carga horária:</b>  36 horas
      <br>Turmas aos sábados de tarde e durante a semana as terças e quintas.</p>
    
      <p><b>Pré-requisito:</b><br>Para participação nas aulas do laboratório de cozinha, é obrigatório ao aluno providenciar 
        avental de peito de pano, camiseta de manga comprida de algodão, calça comprida e sapato fechado com solado emborrachado antiderrapante ou sapato de segurança.</p>
      
      <p>É igualmente mandatório o cumprimento às exigências de segurança que proíbem o uso de 
        acessórios como colares, amuletos, pulseiras ou fitas, brincos, relógio e anéis (inclusive alianças) durante as aulas.</p>
      
      <p><b>Idade mínima:</b> 16 anos<br>Escolaridade mínima: cursando o ensino fundamental.</p>

</body>
</html>