<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Escola de Gastronomia da Vila - Cozinha Mexicana</title>
    <meta charset="UTF-8">
</head>
<body>
    <ul>
        <li><a href="inicio">Inicio</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Cursos</a>
          <div class="dropdown-conteudo">
            <a href="curso1">Cozinha Árabe</a>
            <a href="curso2">Cozinha Francesa</a>
            <a href="curso3">Cozinha Italiana</a>
            <a href="curso4">Cozinha Mexicana</a>
          </div>
        </li>
        <li><a href="contatos">Contato</a></li>
       </ul>

       <img src="{{url_for('static', filename='mexicana.jpg')}}" align="middle" /><br>
<h1>Cozinha Mexicana</h1>
  <p>A carne de vaca e o queijo se misturam com feijões, especiarias e as farinhas de trigo ao milho, 
    dando origem a pratos marcados pelo tempero característico como tortilhas, nachos com guacamole, chilli com carne, Fajitas e Empanadas, entre outros.

    <br>Experimente todos esses ingredientes e preparos típicos, aprimorando as técnicas de preparo dessa culinária 
    específica, e amplie o seu conhecimento nos conceitos fundamentais da cozinha como princípios da higiene na manipulação de alimentos, padronização de pesos e medidas e melhor aproveitamento dos ingredientes.</p>


  <p><b>Carga horária:</b>  36 horas
  <br>Turmas aos sábados de tarde e durante a semana as segunda, quarta e sextas.</p>

  <p><b>Pré-requisito:</b><br>Para participação nas aulas do laboratório de cozinha, é obrigatório ao aluno providenciar 
    avental de peito de pano, camiseta de manga comprida de algodão, calça comprida e sapato fechado com solado emborrachado antiderrapante ou sapato de segurança.</p>
  
  <p>É igualmente mandatório o cumprimento às exigências de segurança que proíbem o uso de 
    acessórios como colares, amuletos, pulseiras ou fitas, brincos, relógio e anéis (inclusive alianças) durante as aulas.</p>
  
  <p><b>Idade mínima:</b> 16 anos<br>Escolaridade mínima: cursando o ensino fundamental.</p>

</body>
</html>