<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Curso 3</title>
    <meta charset="UTF-8">
</head>
<body>
    <ul>
        <li><a href="inicio">Inicio</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Cursos</a>
          <div class="dropdown-conteudo">
            <a href="curso1">Curso 1</a>
            <a href="curso2">Curso 2</a>
            <a href="curso3">Curso 3</a>
            <a href="curso4">Curso 4</a>
          </div>
        </li>
        <li><a href="contatos">Contato</a></li>
       </ul>
    <h1>Curso 3</h1>
</body>
</html>