<!DOCTYPE html>
<html lang="PT">
<title>Cursos</title>
<meta charset="UTF-8">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body style="background-color:#EEE9E9">
  <ul>
    <li><a href="inicio">Home</a></li>
      <li class="dropdown">
      <a href="cursos" class="dropbtn">Cursos</a>
      <div class="dropdown-conteudo">
        <a href="curso1">Cozinha Árabe</a>
        <a href="curso2">Cozinha Francesa</a>
        <a href="curso3">Cozinha Italiana</a>
        <a href="curso4">Cozinha Mexicana</a>
      </div>
    </li>
    <li><a href="contatos">Contato</a></li>
   </ul>
  
   <table>
    <td>
        <tr><img src="{{url_for('static', filename='index.jpg')}}" width=100% height=150 align="middle" /></tr>
        <tr><h1>Cursos da Escola de Gastronomia da Vila</h1> 
        <h2><a href="curso1">Curso de Cozinha Árabe</a></h2>
        <h2>Venha nos conhecer!</h2></tr>
    </td>
</table>

</body>
</html>
