<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Escola de Gastronomia da Vila - Cozinha Francesa</title>
    <meta charset="UTF-8">
</head>
<body>
    <ul>
        <li><a href="inicio">Inicio</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Cursos</a>
          <div class="dropdown-conteudo">
            <a href="curso1">Cozinha Árabe</a>
            <a href="curso2">Cozinha Francesa</a>
            <a href="curso3">Cozinha Italiana</a>
            <a href="curso4">Cozinha Mexicana</a>
          </div>
        </li>
        <li><a href="contatos">Contato</a></li>
       </ul>

       <img src="{{url_for('static', filename='francesa.jpg')}}" align="middle" /><br>
    <h1>Cozinha Francesa</h1>

    <p>Técnicas de corte como julienne, brunoise e concassé, o famoso molho bechamel, além do conceito de organização mise e
      n place são alguns dos patrimônios da gastronomia originados em solo francês. Da mesma forma, bases como caldos e purês são heranças do país, 
      que também é primoroso no quesito estética dos pratos.
  
    <br>Desenvolva no curso os conhecimentos e práticas da culinária francesa, contextualizados pela ótica histórico-cultural, 
  e aplique-os às preparações tradicionais da França como o ratatouille, boeuf bourguignon, tarte tatin e o crème brûlée.
  
    <br>Tudo isso com base nos princípios da higiene na manipulação de alimentos, buscando a padronização de pesos e medidas 
  e melhor aproveitamento dos ingredientes, entre outros aspectos relacionados.</p>


        <p><b>Carga horária:</b>  36 horas
          <br>Turmas aos sábados de manhã e durante a semana as terças e quintas.</p>
        
          <p><b>Pré-requisito:</b><br>Para participação nas aulas do laboratório de cozinha, é obrigatório ao aluno providenciar 
            avental de peito de pano, camiseta de manga comprida de algodão, calça comprida e sapato fechado com solado emborrachado antiderrapante ou sapato de segurança.</p>
          
          <p>É igualmente mandatório o cumprimento às exigências de segurança que proíbem o uso de 
            acessórios como colares, amuletos, pulseiras ou fitas, brincos, relógio e anéis (inclusive alianças) durante as aulas.</p>
          
          <p><b>Idade mínima:</b> 16 anos<br>Escolaridade mínima: cursando o ensino fundamental.</p>

</body>
</html>