<!DOCTYPE html>
<html lang="PT" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Estatisticas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">  
  </head>
  <body>
    <ul>
      <li><a href="inicio">Home</a></li>
        <li class="dropdown">
        <a href="cursos" class="dropbtn">Cursos</a>
        <div class="dropdown-conteudo">
          <a href="curso1">Cozinha Árabe</a>
          <a href="curso2">Cozinha Francesa</a>
          <a href="curso3">Cozinha Italiana</a>
          <a href="curso4">Cozinha Mexicana</a>
        </div>
      </li>
      <li><a href="estatisticas">Estatísticas</a></li>
      <li><a href="contatos">Contato</a></li>
     </ul>
    


     <div class="chartContainer">
        <h3>Cada vez mais pessoas procuram educação profissional!</h3> 
      <canvas id="myChart" width="1024" height="768"></canvas>
      Fonte: Censo da Educação 2018
    </div>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
    
  </body>
</html>